In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#### Tag Along Code

In [24]:
Data = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG(1).csv', encoding = 'latin-1')

In [25]:
Data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [26]:
Data.groupby('Item')['Y2014','Y2017'].sum()

C:\Users\GODIAN\AppData\Local\Temp\ipykernel_6500\927349241.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  Data.groupby('Item')['Y2014','Y2017'].sum()

                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

In [38]:
mean = Data.mean()

C:\Users\GODIAN\AppData\Local\Temp\ipykernel_6500\1983447813.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean = Data.mean()

In [39]:
print(mean)

Area Code        134.265576
Item Code       2687.176706
Element Code    3814.856456
Y2014            134.196282
Y2015            135.235966
Y2016            136.555222
Y2017            140.917765
Y2018            143.758381
dtype: float64

In [41]:
Data_missing = Data.isnull().sum()

In [42]:
print(Data_missing)

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [43]:
Correlation = Data.corr()

In [44]:
print(Correlation)

              Area Code  Item Code  Element Code     Y2014     Y2015  \
Area Code      1.000000  -0.005159     -0.000209  0.006164  0.005472
Item Code     -0.005159   1.000000     -0.024683  0.021722  0.020857
Element Code  -0.000209  -0.024683      1.000000  0.024457  0.023889
Y2014          0.006164   0.021722      0.024457  1.000000  0.994647
Y2015          0.005472   0.020857      0.023889  0.994647  1.000000
Y2016          0.005247   0.020109      0.023444  0.996081  0.995739
Y2017          0.005006   0.021494      0.024254  0.995230  0.988048
Y2018          0.005665   0.021314      0.024279  0.994872  0.988208

                 Y2016     Y2017     Y2018
Area Code     0.005247  0.005006  0.005665
Item Code     0.020109  0.021494  0.021314
Element Code  0.023444  0.024254  0.024279
Y2014         0.996081  0.995230  0.994872
Y2015         0.995739  0.988048  0.988208
Y2016         1.000000  0.992785  0.992757
Y2017         0.992785  1.000000  0.998103
Y2018         0.992757  0.998103  1.000000

In [47]:
Import_Quality = Data.groupby('Element')['Y2014','Y2015','Y2016','Y2017','Y2018'].sum()

C:\Users\GODIAN\AppData\Local\Temp\ipykernel_6500\1543173737.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  Import_Quality = Data.groupby('Element')['Y2014','Y2015','Y2016','Y2017','Y2018'].sum()

In [48]:
print(Import_Quality)

                                             Y2014       Y2015       Y2016  \
Element
Domestic supply quantity                1996716.35  2021493.55  2044842.70
Export Quantity                          150020.64   157614.47   151920.46
Fat supply quantity (g/capita/day)        10225.56    10235.74    10102.77
Feed                                     216927.89   225050.22   228958.65
Food                                    1212332.49  1232361.10  1247022.17
Food supply (kcal/capita/day)            454257.00   453383.00   451810.00
Food supply quantity (kg/capita/yr)       49650.63    49345.13    48985.28
Import Quantity                          274144.48   267018.46   286582.78
Losses                                   153223.00   155439.00   157787.00
Other uses (non-food)                     78718.13    66254.41    69563.68
Processing                               282923.00   287929.00   280631.00
Production                              1931287.75  1947019.39  1943537.15
Protein supply quantity (g/capita/day)    11836.46    11833.95    11779.69
Residuals                                 30149.00    30045.00    37224.00
Seed                                      21922.92    23976.82    23389.20
Stock Variation                           58749.83    34910.99    33140.12
Total Population - Both sexes           1031585.00  1058081.00  1085107.00
Tourist consumption                         416.00      349.00       89.00

                                             Y2017       Y2018
Element
Domestic supply quantity                2088198.10  2161192.10
Export Quantity                          182338.80   181594.80
Fat supply quantity (g/capita/day)        10253.84    10258.69
Feed                                     223705.68   233489.68
Food                                    1258888.28  1303841.28
Food supply (kcal/capita/day)            454681.00   455261.00
Food supply quantity (kg/capita/yr)       48690.04    49056.85
Import Quantity                          294559.09   287997.09
Losses                                   160614.00   163902.00
Other uses (non-food)                     91645.97    91300.97
Processing                               292836.00   308429.00
Production                              2030056.89  2075072.89
Protein supply quantity (g/capita/day)    11842.45    11833.56
Residuals                                 35500.00    34864.00
Seed                                      24870.14    25263.14
Stock Variation                           54316.91    20577.91
Total Population - Both sexes           1112641.00  1140605.00
Tourist consumption                          91.00       90.00

In [50]:
Data_2018 = Data.groupby('Element')['Y2018'].sum()

In [51]:
print(Data_2018)

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [52]:
Data_2018.rank()

Element
Domestic supply quantity                  18.0
Export Quantity                           10.0
Fat supply quantity (g/capita/day)         2.0
Feed                                      11.0
Food                                      16.0
Food supply (kcal/capita/day)             14.0
Food supply quantity (kg/capita/yr)        7.0
Import Quantity                           12.0
Losses                                     9.0
Other uses (non-food)                      8.0
Processing                                13.0
Production                                17.0
Protein supply quantity (g/capita/day)     3.0
Residuals                                  6.0
Seed                                       5.0
Stock Variation                            4.0
Total Population - Both sexes             15.0
Tourist consumption                        1.0
Name: Y2018, dtype: float64

In [53]:
Data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [56]:
Data_algeria = Data.groupby('Area')['Y2018'].sum()

In [57]:
print(Data_algeria)

Area
Algeria                         341729.98
Angola                          235206.68
Benin                           124960.70
Botswana                         23129.08
Burkina Faso                    112970.72
Cabo Verde                       14622.60
Cameroon                        233022.93
Central African Republic         30101.57
Chad                             72282.24
Comoros                             59.84
Congo                            42005.53
CÃ´te d'Ivoire                   227018.00
Djibouti                         23718.96
Egypt                           852652.92
Eswatini                         55045.07
Ethiopia                        450788.86
Ethiopia PDR                         0.00
Gabon                            28339.38
Gambia                           23513.80
Ghana                           358915.64
Guinea                          103262.08
Guinea-Bissau                    18997.92
Kenya                           270916.80
Lesotho                          19109.23
Liberia                          29629.83
Madagascar                      134576.44
Malawi                          187366.09
Mali                            159026.42
Mauritania                      157479.95
Mauritius                        47150.91
Morocco                         399271.27
Mozambique                      164934.05
Namibia                          29350.04
Niger                           133982.86
Nigeria                        1499774.24
Rwanda                           74839.08
Sao Tome and Principe            12806.49
Senegal                          95493.82
Seychelles                         442.34
Sierra Leone                     55981.73
South Africa                    509787.97
Sudan                           268054.39
Sudan (former)                       0.00
Togo                             54872.00
Tunisia                         127343.17
Uganda                          222147.25
United Republic of Tanzania     349763.41
Zambia                          101604.27
Zimbabwe                         76581.41
Name: Y2018, dtype: float64

In [60]:
Data.unique('A)

AttributeError: 'DataFrame' object has no attribute 'unique'

In [70]:
Data_2018 = Data.groupby('Element')['Area']['Y2018'].sum()

IndexError: Column(s) Area already selected

In [68]:
Data_2018

Element                   Area
Domestic supply quantity  Algeria                  90023.42
                          Angola                   59590.22
                          Benin                    31447.90
                          Botswana                  3045.85
                          Burkina Faso             25705.16
                                                     ...
Tourist consumption       Cabo Verde                   7.00
                          Egypt                       23.00
                          Kenya                       17.00
                          Mauritius                   31.00
                          Sao Tome and Principe       12.00
Name: Y2018, Length: 803, dtype: float64